[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/microservices-26-1/gateway-service
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/microservices-26-1/auth
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/microservices-26-1/auth-service
[submodule "api/account"]
	path = api/account
	url = https://github.com/microservices-26-1/account
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/microservices-26-1/account-service
[submodule "api/product"]
	path = api/product
	url = https://github.com/microservices-26-1/product.git
[submodule "web"]
	path = web
	url = https://github.com/microservices-26-1/web.git
[submodule "api/order-service"]
	path = api/order-service
	url = https://github.com/microservices-26-1/order-service.git
[submodule "api/product-service"]
	path = api/product-service
	url = https://github.com/microservices-26-1/product-service.git
[submodule "api/exchange"]
	path = api/exchange
	url = https://github.com/microservices-26-1/exchange.git

[submodule "api/order"]
	path = api/order
	url = https://github.com/microservices-26-1/order.git
